@inherits LayoutComponentBase

<head>
    <link rel="stylesheet" href="main.css" />    
</head>

<div class="page">

    <main>
@*         <div class="container-space-between" style="padding: 50px;">
            <h2>A company using CMS.</h2>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
