@using ABCComplaintManagementSystem.Components.Layout
@page "/complaintManagement"
@inject NavigationManager Navigator
@rendermode InteractiveServer
@layout ManagementLayout

<PageTitle>Complaint Management</PageTitle>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<div id="top-panel">
    <div class="flex-row container-space-between">
        <div>
            Company Ref:
        </div>
        <div>
            Role:
        </div>
    </div>
</div>



<div class="@BlurClass">
    @* ----INBOX---- *@
    <div class="flex-row">
        <div class ="flex-box flex-column">
            <div class="table-title flex-grow">Inbox:</div>
            <table class="inbox-container">
                @for (int x = 0; x < 25; x++)
                {
                    @if (x % 2 == 0)
                    {
                        var currentIndex = x;
                        <tr @onclick="(() => DisplayComplaint(currentIndex))" class="table-entry-1">
                            <td>xxxx</td>
                        </tr>
                    }
                    else
                    {
                        var currentIndex = x;
                        <tr @onclick="(() => DisplayComplaint(currentIndex))" class="table-entry-2">
                            <td>xxxxx</td>
                        </tr>
                    }
                }
            </table>
        </div>
        @* ----ONGOING---- *@
        <div class="flex-box flex-column">
            <div class="table-title flex-grow">
                Ongoing:
            </div>
            <table class="ongoing-container flex-grow">
                @for (int x = 0; x < 25; x++)
                {
                    @if (x % 2 == 0)
                    {
                        var currentIndex = x;
                        <tr @onclick="(() => DisplayComplaint(currentIndex))" class="table-entry-1">
                            <td>xxxx</td>
                        </tr>
                    }
                    else
                    {
                        var currentIndex = x;
                        <tr @onclick="(() => DisplayComplaint(currentIndex))" class="table-entry-2">
                            <td>xxxxx</td>
                        </tr>
                    }
                }
            </table>
        </div>
        @* ----CLOSED---- *@
        <div class="flex-box flex-column flex-grow">
            <div class="table-title flex-grow">
                Closed:
            </div>
            <div class="flex-box flex-grow">
                <table class="closed-container">
                    @for (int x = 0; x < 25; x++)
                    {
                        @if (x % 2 == 0)
                        {
                            var currentIndex = x;
                            <tr @onclick="(() => DisplayComplaint(currentIndex))" class="table-entry-1">
                                <td>xxxx</td>
                            </tr>
                        }
                        else
                        {
                            var currentIndex = x;
                            <tr @onclick="(() => DisplayComplaint(currentIndex))" class="table-entry-2">
                                <td>xxxxx</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>

</div>

@if (showComplaint == true)
{
    <div class="hidden-container">
        <div class="hidden-container-top-panel">
            <div class="flex-row container-space-between">
                <div>
                    Account Reference:
                </div>
                <div>
                    Company/xxxx
                </div>
            </div>
        </div>  
        <h3>@index</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices ultricies aliquam. Proin enim purus, tristique quis placerat et, tempus in lectus. Morbi blandit nisi sollicitudin finibus vehicula. Cras aliquam risus at nisl fermentum, ac eleifend leo accumsan. Aenean id accumsan turpis. Praesent pellentesque vitae metus eu luctus. Aenean faucibus ligula massa, at fringilla sapien faucibus in.</p>
        <div class="hidden-container-bottom-panel">
            <div class="flex-row container-space-between container-align-items" style="right:0;">

                Date Created: xx/xx/xxxx
                <div>
                    <button @onclick="(() => DisplayComplaint(-1))" class="main-button">Close  <i class="fa-solid fa-x"></i></button>
                    <button @onclick="(() => DisplayComplaint(-1))" class="main-button">Assign Support  <i class="fa-solid fa-user"></i></button>
                </div>

            </div>
        </div>


    </div>
}

@code {
    bool showBlur = false;
    string BlurClass => showBlur ? "blur-container" : "";
    bool showComplaint = false;
    int index = 0;

    private void DisplayComplaint(int i)
    {
        if (i == -1)
        {
            showComplaint = false;
            showBlur = !showBlur;

        }
        else
        {
            showComplaint = true;
            index = i;
            showBlur = !showBlur;            
        }
    }
}
