@using ABCComplaintManagementSystem.Components.Layout
@page "/complaintManagement"
@inject NavigationManager Navigator
@rendermode InteractiveServer
@layout ManagementLayout

<PageTitle>Complaint Management</PageTitle>

<div id="top-panel">
    <div class="flex-row container-space-between">
        <div>
            Company Ref:
        </div>
        <div>
            Role:
        </div>
    </div>
</div>



<div class="@BlurClass">
    <div class="flex-row">
        <div>
            <div class="inbox-title">Inbox:</div>
            <table class="inbox-container">
                @for (int x = 0; x < 25; x++)
                {
                    @if (x % 2 == 0)
                    {
                        var currentIndex = x;
                        <tr @onclick="(() => DisplayComplaint(currentIndex))" class="table-entry-1">
                            <td>xxxx</td>
                        </tr>
                    }
                    else
                    {
                        var currentIndex = x;
                        <tr @onclick="(() => DisplayComplaint(currentIndex))" class="table-entry-2">
                            <td>xxxx</td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="open-container flex-grow">
        </div>
    </div>

</div>

@if (showComplaint == true)
{
    <div class="hidden-container">
        <h1>
            Complaint Info... @index
        </h1>
    </div>
}

@code {
    bool showBlur = false;
    string BlurClass => showBlur ? "blur-container" : "";
    bool showComplaint = false;
    int index = 0;

    private void DisplayComplaint(int i)
    {
        showComplaint = true;
        index = i;
        showBlur = !showBlur;
    }
}
