#top-panel {
    width: 100vw;
    height: 50px;
    background: #e8e8e8;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: inherit;
}


.inbox-container {
    display: flex;
    border: 2px solid #ededed;
    border-radius: 5px;
    height: 75vh;
    width: 20vw;
    margin: 10px;
    margin-top: 10px;
    overflow-y: auto;
    flex-direction: column;
}

.inbox-container:hover {
    cursor: pointer;
}

.inbox-title {
    border: 2px solid #ededed;
    border-radius: 5px;
    height: 5vh;
    width: 20vw;
    margin: 10px;
    margin-top: 60px;
    background-color: #a4adc2;
    padding: 5px;
}

.open-container {
    margin: 10px;
    border: 2px solid black;
    height: 80vh;
    width: 40vw;
    margin-top: 60px;
    overflow-y: auto;
}

.table-entry-1 {
    height: 40px;
    margin: auto;
    width: 100%;
    background-color: #a4adc2;
    padding: 5px;
}

.table-entry-2 {
    height: 40px;
    margin: auto;
    width: 100%;
    background-color: #c8cede;
    padding: 5px;
}

.table-entry-1:hover, .table-entry-2:hover{
    font-weight: 800;
}
