@using ABCComplaintManagementSystem.Components.Layout
@page "/complaintManagement"
@inject NavigationManager Navigator
@rendermode InteractiveServer
@layout ManagementLayout

<PageTitle>Complaint Management</PageTitle>

<div id="top-panel">
    <div class="flex-row container-space-between">
        <div>
            Company Ref:
        </div>
        <div>
            Role:
        </div>
    </div>
</div>



<div class="@BlurClass">
    <div class="flex-row">
        <div>
            <div class="inbox-title">Inbox:</div>
            <table class="inbox-container">
                @for (int x = 0; x < 25; x++)
                {
                    @if (x % 2 == 0)
                    {
                        var currentIndex = x;
                        <tr @onclick="(() => DisplayComplaint(currentIndex))" class="table-entry-1">
                            <td>xxxx</td>
                        </tr>
                    }
                    else
                    {
                        var currentIndex = x;
                        <tr @onclick="(() => DisplayComplaint(currentIndex))" class="table-entry-2">
                            <td>x</td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="open-container flex-grow">
        </div>
    </div>

</div>

@if (showComplaint == true)
{
    <div class="hidden-container">
        <div class="hidden-container-top-panel">
            <div class="flex-row container-space-between">
                <div>
                    Title:
                </div>
                <div>
                    Company/xxxx
                </div>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices ultricies aliquam. Proin enim purus, tristique quis placerat et, tempus in lectus. Morbi blandit nisi sollicitudin finibus vehicula. Cras aliquam risus at nisl fermentum, ac eleifend leo accumsan. Aenean id accumsan turpis. Praesent pellentesque vitae metus eu luctus. Aenean faucibus ligula massa, at fringilla sapien faucibus in.</p>

        <div class="hidden-container-bottom-panel">
            <div class="flex-row container-space-between">

                Date Created: xx/xx/xxxx


                <button class="main-button">Create Complaint</button>

            </div>
        </div>


    </div>
}

@code {
    bool showBlur = false;
    string BlurClass => showBlur ? "blur-container" : "";
    bool showComplaint = false;
    int index = 0;

    private void DisplayComplaint(int i)
    {
        showComplaint = true;
        index = i;
        showBlur = !showBlur;
    }
}
