@using ABCComplaintManagementSystem.Components.Layout
@page "/company"
@rendermode InteractiveServer

@layout CompanyLayout

<PageTitle>Company</PageTitle>

<div class="flex-row">
    <button class="main-button">Create Complaint</button>
    <button class="main-button">Create Complaint</button>


</div>

<div class="flex-row">
    <div class="flex-column flex-grow">
        <div class="skeleton-container"></div>
        <div class="skeleton-container"></div>
    </div>
    <div class="flex-column flex-grow">
        <div class="skeleton-container"></div>
        <div class="skeleton-container"></div>
        <div class="skeleton-container"></div>

    </div>
</div>
